@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header_content{
    background-image: url(img/Vector.png);
    height: 720px;
    margin-top: -17px;
}
.header_content_text p{
    padding: 64px;
    margin-left: 49px;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0em;
    color: #0C0B23;
}
#menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.header_right_content ul{
    margin-top: 80px;
    margin-right: 10px;
}
.header_right_content{
    background-color: #C9A387;
    width: 80px;
    height: 703px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 0px;
  }
.left_content ul li{
    list-style-type: none;
    transform: rotate(-90deg);
    padding: 33px;
}
.menu__item1, #menu_right ul li a:hover{
  color: white;
  border-bottom: solid 2px white;
  transform: rotate(360deg);
}
.left_content{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.left_content a{
    text-decoration: none;
    color: #0C0B23;
    font-family: 'Lato', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}
.right_content{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 22px;
}
.right_content svg{
    padding: 10px;
}
.about_content_text1 p{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    margin-top: -104px;
    padding: 51px;
}
.about_content_text1{
  margin-top: 13px;
}
.about_content_text2 p{
font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}
.about_content_text2{
  margin-left: 112px;
  margin-top: 70px;
}
.about_content_img{
  margin-left: -211px;
}
.about_content_img1 img{
  width: 113px;
  margin-top: -53px;
  margin-left: -269px;
}
.about_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 96px;
}
.services{
  display: flex;
  flex-direction: column;
  margin-top: 178px;
}
.services_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 1px #707070;
  width: 1024px;
}
.services_svg{
  margin-left: -190px;
}
.services_svg img{
  width: 160px;
  height: 128px;
}
.servisec_text{
  margin-top: -134px;
}
.services_flex{
  padding: 48px;
  margin-left: 334px;
}
.servisec_text p{
font-weight: 900;
font-size: 24px;
font-family: 'Lato', sans-serif;
color: #0C0B23;
line-height: 150%;
}
.servisec_text p1{
font-size: 16px;
font-family: 'Lato', sans-serif;
color: #707070;
line-height: 150%;

}
.gallery_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 178px;
  margin-left: 150px;
}
.one_img{
  margin-top: 200px;
}
.two_img{
  margin-top: 234px;
  margin-right: 4px;
}
.three_img{
  margin-left: -413px;
}
.three_img img{
  width: 358px;
}
.text_gallery{
  background-color: #C9A387;
  width: 657px;
  height: 140px;
  margin-left: -291px;
  margin-top: 84px;
}
.text_gallery p{
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
  color: white;
}
.text_gallery p1{
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 0px;
  margin-left: 370px;
}
.gallery_content1{
  background: url(img/Rectangle\ 11.png) center no-repeat;
  background-size: cover;
  height: 336px;
  margin-top: 90px;
}
.gallery_content1_text{
  padding: 79px;
  margin-left: 372px;
}
.gallery_content1 p{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: white;
  align-items: center;
}
.gallery_content1_button{
  text-align: center;
  margin-top: -51px;
}
.gallery_content1_button button{
width: 118px;
height: 40px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 40px;
background-color: Transparent;
color: white;
font-family: 'Lato', sans-serif;
}
.gallery_content2{
  display: flex;
  flex-wrap: wrap;
  margin-top: 63px;
  margin-left: 403px;
}
.flex_one{
  display: flex;
  flex-wrap: wrap;
}
.flex_one img{
  padding: 20px;
}
.contact{
  background-color: #0C0B23;
  height: 746px;
  margin-top: 80px;
}
.contact_content{
  display: flex;
  margin-left: 272px;  
}
.contact_tell{
  margin-top: 89px;
}
.contact_tell h2{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: white;
}
.contact_tell p{
  margin-top: 24px;
}
.contact_tell a{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;  
  text-decoration: none;
}
.contact_mail{
  margin-top: 89px;
  margin-left: 100px;
}
.contact_mail h2{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;  
  color: white;
}
.contact_mail p{
  margin-top: 24px;
}
.contact_mail a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;  
    text-decoration: none;
}
.contact_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 54px;
  margin-left: 151px;
  margin-right: 682px;
}
.content1_text{
  margin-top: 120px;
  margin-left: 272px;
}
.content1_text h2{
  font-weight: 700;
  font-size: 32px;
  color: white;
  font-family: 'Lato', sans-serif;

}
.content1_info input{
  font-size: 20px;
  width: 160px;
  height: 35px;
  background-color: transparent;
  color: inherit;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white
}
.content1_info{
  color: #0C0B23;
}
.content_info input{
  font-size: 20px;
  width: 352px;
  height: 35px;
  background-color: transparent;
  color: inherit;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white
}
input:focus {
  border-color: blue
}
.contnetn2_info button{
width: 80px;
height: 40px;
border: 1px solid #C0C0C0;
box-sizing: border-box;
border-radius: 40px;
background-color: #0C0B23;
}
.contnetn2_info a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.contact_content2{
  border-top: 1px solid #ffffff;
  width: 1120px;
  margin-left: 247px;
  margin-top: 214px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content2_flex{
  display: flex;
}
.contact_content2 p{
font-family: 'Lato', sans-serif;
font-size: 16px;
font-weight: 400;
color: white;
}
.content2_text2{
  margin-left: 124px;
  margin-top: 20px;
}
.content2_text3{
  margin-top: 20px;
}
.content2_text{
  margin-top: 20px;
}
@media (max-width:800px) {
    .header_right_content{
        display: none;
    }
}
@media (min-width:800px) {
    .hamburger-menu{
        display: none;
    }
}
@media (max-width:672px) {
    .header_content_text p {
        font-size: 26px;
    }
}
@media (max-width:1630px) {
  .contact_flex{
    margin-left: 183px;
    margin-right: 502px;
  }
}
@media (max-width:1612px) {
  .about_content_text1 p {
    font-size: 28px;
  }
  .about_content_text2 {
    margin-top: 55px;
  }
  .about_content_text2 p {
    font-size: 15px;
  }
  .about_content_img img {
    width: 282px;
  }
  .services_flex{
    margin-left: 124px;
  }
}
@media (max-width:1500px) {
  .contact_flex {
    margin-left: 180px;
    margin-right: 355px;
}
}
@media (max-width:1437px) {
  .about_content_text1 p {
    font-size: 24px;
  }
  .about_content_text2 {
    margin-top: 40px;
  }
  .about_content_text2 p {
    font-size: 13px;
  }
  .about_content_img img {
    width: 260px;
  }
  .services_flex{
    margin-left: 220px;
  }
  .services{
    margin-top: 246px;
  }
}
@media (max-width:1364px) {
  .contact_flex {
    margin-left: 155px;
    margin-right: 130px;
}
.contact_content2 {
  width: 938px;
}
}
@media (max-width:1357px) {
  .gallery_content{
    margin-left: 40px;
  }
}
@media (max-width:1344px) {
  .services_flex{
    margin-left: 180px;
    width: 926px;
  }
  .services_content{
    margin-right: -155px;
    margin-left: 191px;
  }
}
@media (max-width:1300px) {
  .about_content_text1 {
    margin-left: -101px;
  }
  .services_flex{
    margin-left: 120px;
  }
}
@media (max-width:1255px) {
  .gallery_content1 p {
    font-size: 26px;
    margin-left: -22px;
  }
  .gallery_content1_button{
    margin-top: -44px;
  }
}
@media (max-width:1244px) {
  .services_flex{
    margin-left: 70px;
  }
}
@media (max-width:1212px) {
.services_flex{
  width: 810px;
}
.services_content{
  margin-right: -167px;
  margin-left: 95px;
}
}
@media (max-width:1193px) {
  .services_flex{
    margin-left: 30px;
  }
}
@media (max-width:1163px) {
  .about_content_text1 p {
    font-size: 21px;
  }
  .about_content_text2 {
    margin-top: 30px;
  }
  .about_content_text2 p {
    font-size: 11px;
  }
  .about_content_img img {
    width: 240px;
  }
  .gallery_content1 p {
    font-size: 22px;
    margin-left: -100px;
    font-weight: 550;
    line-height: 30px;
}
.gallery_content1_button {
  margin-top: -51px;
  margin-left: -80px;
}
}
@media (max-width:1188px) {
  .contact_tell h2 {
    font-size: 28px;
  }
  .contact_mail h2{
    font-size: 28px;
  }
  .content1_text h2{
    font-size: 28px;
  }
  .contact_flex{
    margin-left: 239px;
    margin-right: 232px;
  }
  .content1_info input{
    width: 113px;
    height: 30px;
  }
  .content_info input{
    width: 278px;
    height: 30px;
  }
  .contnetn2_info button{
    width: 76px;
    height: 32px;
  }
  .contact_content2{
    width: 742px;
  }
  .contact_content2 p{
    font-size: 14px;
  }
  .content2_text2 p{
    font-size: 14px;
  }
  .content2_text3 p{
    font-size: 14px;
  }
}
@media (max-width:1080px) {
  .gallery_content {
    margin-left: -33px;
}
}
@media (max-width:1077px) {
  .about_content_text1 p {
    font-size: 19px;
  }
  .about_content_text2 {
    margin-top: 20px;
  }
  .about_content_text2 p {
    font-size: 13px;
  }
  .about_content_img img {
    width: 220px;
  }
}
@media (max-width:1055px) {
  .services_flex {
    width: 660px;
  }
  .services_svg{
    margin-left: -131px;
    margin-top: 25px;
  }
  .servisec_text{
    margin-left: 84px;
  }
  .servisec_text p{
    font-size: 21px;
  }
  .servisec_text p1{
    font-size: 14px;
  }
  .services_content{
    margin-right: -116px;
    margin-left: 58px;
  }
  .services_content svg{
    width: 60px;
  }
}
@media (max-width:1013px) {
  .one_img {
    margin-top: 189px;
}
.one_img img{
  width: 184px;
}
.two_img {
  margin-top: 239px;
  margin-right: 74px;
}
.two_img img{
  width: 194px;
  height: 172px;
}
.three_img {
  margin-left: -414px;
}
.three_img img {
  width: 300px;
}
.text_gallery{
  width: 448px;
  margin-left: -210px;
}
.text_gallery p{
  font-size: 30px;
}
.text_gallery p1{
  font-size: 27px;
  margin-left: 233px;
}
}
@media (max-width:990px) {
  .about_content_text1 p {
    font-size: 17px;
  }
  .about_content_text2 {
    margin-top: 15px;
  }
  .about_content_text2 p {
    font-size: 12px;
  }
  .about_content_img img {
    width: 200px;
  }

  .contact_tell h2 {
    font-size: 26px;
  }
  .contact_mail h2{
    font-size: 26px;
  }
  .content1_text h2{
    font-size: 26px;
  }
  .contact_flex{
    margin-left: 156px;
    margin-right: 143px;
  }
  .content1_info input{
    width: 88px;
    height: 26px;
  }
  .content_info input{
    width: 226px;
    height: 26px;
  }
  .contnetn2_info button{
    width: 76px;
    height: 30px;
  }
  .contact_content2{
    width: 642px;
  }
  .contact_content2 p{
    font-size: 13px;
  }
  .content2_text2 p{
    font-size: 13px;
  }
  .content2_text3 p{
    font-size: 13px;
  }
  .contact_content {
    margin-left: 158px;
}
.contact_content1{
  margin-left: -128px;
}
.contact_content2 {
  margin-left: 113px;
}
}
@media (max-width:974px) {
  .gallery_content1_text{
    margin-left:193px;
  }
}
@media (max-width:913px) {
  .about_content_text1 p {
    font-size: 15px;
  }
  .about_content_text2 {
    margin-top: 15px;
  }
  .about_content_text2 p {
    font-size:11px;
  }
  .about_content_img img {
    width: 180px;
  }
  .services_flex{
    width: 527px;
  }
  .services_svg img{
    width: 110px;
    height: 106px;
  }
  .servisec_text{
    margin-top: -116px;
    margin-left: -13px;
  }
  .servisec_text p{
    font-size: 16px;
  }
  .servisec_text p1{
    font-size: 11px;
  }
  .services_content{
    margin-right: -139px;
    margin-left: 66px;
  }
  .services_content svg{
    width: 55px;
  }
}
@media (max-width:975px) {
  .gallery_content1_text {
    margin-left: 134px;
}
}
@media (max-width:865px) {
  .contact_flex {
    margin-left: 144px;
    margin-right: 97px;
}
}
@media (max-width:842px) {
  .about_content_text1 p {
    font-size: 14px;
  }
  .about_content_text2 {
    margin-top: 15px;
  }
  .about_content_text2 p {
    font-size: 10px;
    margin-left: -31px;
  }
  .about_content_img img {
    width: 160px;
  }
  .contact_tell h2 {
    font-size: 22px;
  }
  .contact_mail h2{
    font-size: 22px;
  }
  .content1_text h2{
    font-size: 22px;
  }
  .content1_info input{
    width: 74px;
    height: 26px;
  }
  .content_info input{
    width: 200px;
    height: 26px;
  }
  .contact_content2{
    width: 542px;
  }
  .contact_content2 p{
    font-size: 12px;
  }
  .content2_text2 p{
    font-size: 12px;
  }
  .content2_text3 p{
    font-size: 12px;
  }
  .contact_content {
    margin-left: 158px;
}
.contact_content1{
  margin-left: -128px;
}
.contact_content2 {
  margin-left: 113px;
}
}
@media (max-width:795px) {
  .gallery_content2 {
    margin-left: 169px;
  }
}
@media (max-width:788px) {
  .about_flex {
    margin-top: 67px;
}
.about_content_text1 p {
  font-size: 16px;
}
.about_content_text2 {
  margin-left: 55px;
}
.about_content_text2 p {
  font-size: 12px;
}
.about_content_img {
  margin-left: -68px;
}
.about_content_img img{
  width: 220px;
}
.services{
  margin-top: 50px;
}
.gallery_content {
  margin-left: 50px;
  margin-top: 70px;
}
.gallery_content1 p {
  font-size: 19px;
  line-height: 28px;
}
.about_content_img1 img{
  margin-left: -126px;
}
}
@media (max-width:751px) {
  .about_content_text1 p {
    font-size: 14px;
  }
  .about_content_text2 p {
    font-size: 10px;
  }
  .about_content_img img{
    width: 200px;
  }
}
@media (max-width:698px) {
  .gallery_content1 p{
    font-size: 17px;
  }
  .contact_flex {
    margin-left: 167px;
    margin-right: 2px;
}
}
@media (max-width:678px) {
  .about_content_text1 p {
    font-size: 12px;
  }
  .about_content_text2 p {
    font-size:11px;
  }
  .about_content_img img{
    width: 180px;
  }
  .services_flex{
    width: 400px;
  }
  .services_svg{
    margin-left: -94px;
  }
  .services_svg img{
    width: 88px;
    height: 89px;
  }
  .servisec_text{
    margin-top: -96px; 
    margin-left: 1px;
  }
  .servisec_text p{
    font-size: 14px;
  }
  .servisec_text p1{
    font-size: 9px;
  }
  .services_content{
    margin-right: -183px;
    margin-left: 58px;
    margin-top: 29px;
  }
  .services_content svg{
    width: 50px;
  }
}
@media (max-width:659px) {
  .contact_flex {
    margin-left: 215px;
    margin-right: 2px;
}
.contact_content2{
  margin-left: 86px;
}
.contact{
  min-width: 659px;
}
.header_content{
  min-width: 659px;
}
.about{
  min-width: 659px;
}
.services{
  min-width: 659px;
}
.gallery{
  min-width: 659px;
}
}